h1, h2, h3, p, li, div {
	font-family: Helvetica, Arial, sans-serif;
}
.rev {
	font-weight: bold;
}
.rev:before {
	content: 'Rev: ';
	font-weight: bold;
}
.notes {
	font-style: italic;
	margin-left: 20px;
}
li {
	padding: 5px;
	border-radius: 4px;
	max-width: 550px;
}
li:after {
	content: attr(data-time);
	display: block;
	float: right;
	font-family: menlo;
}
[data-priority=low] {
	background: #6CC0E5;
}
[data-priority=medium] {
	background: #FBC93D;
}
[data-priority=high] {
	background: #FB4F4F;
}
[data-deleted=true] {
	background: #ccc;
	color: #fff;
}