h1, h2, h3, p, li, div {
	font-family: Helvetica, Arial, sans-serif;
}
.rev {
	font-weight: bold;
}
.rev:before {
	content: 'Rev: ';
	font-weight: bold;
}
.notes {
	font-style: italic;
	margin-left: 20px;
}
li {
	list-style-type: none;
	padding: 5px;
	border-radius: 4px;
	max-width: 700px;
}
li:after {
	content: attr(data-time);
	display: block;
	float: right;
	font-family: menlo;
}
[data-priority=low] {
	background: #6CC0E5;
	color: #fff;
}
[data-priority=medium] {
	background: #FBC93D;
	color: #fff;
}
[data-priority=important] {
	background: #FB4F4F;
	color: #fff;
}
[data-deleted=true] {
	background: #ccc;
	color: #fff;
}
[data-logged=true] {
	background: green;
}