@import "compass/css3";
body {
	background: #ebebeb url(../bg.png);
	font-family: "helvetica neue", "ubuntu", "arial", "sans-serif";
}

// mixin has optional image url for paper background... 
// just pass image inside quotes like: 
// paper-stack(100px, #fff, #ccc, "/path/to/image.png")

@mixin paper-stack($width, $paper-color, $border-color, $paper-image-url: false) {
	@if $paper-image-url == false {
		background: $paper-color;
	} @else {
		background: $paper-color url($paper-image-url);
	}
	width: $width;
	border: 1px solid $border-color;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		background: darken($paper-color, 10%);
		border: 1px solid $border-color;
		height: 2px;
	}
	&:before {
		width: $width - 3px;
		bottom: -4px;
		left: 1px;
		z-index: 2;
	}
	&:after {
		width: $width - 6px;
		bottom: -7px;
		left: 3px;
		z-index: 1;
	}
}

.paper-stack {
	@include paper-stack(500px, #fdfdfd, #ccc);
	@include border-radius(2px);
	@include box-shadow(0 8px 10px rgba(0,0,0,0.15), 0 8px 10px rgba(0,0,0,0.05));
	position: absolute;
	top: 50%; left: 50%;
	margin: -175px 0 0 -250px;
	height: 270px;
	text-align: center;
	h2 {
		color: #333;
	}
	p {
		color: #666;
		font-size: 14px;
	}
}